.navigation {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.5s;
    border-radius: 60px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
    transition-delay: 0.3s;
    display: none;
    align-items: center;
    justify-content: space-evenly;

    @media (max-width: 1050px) {
        display: flex
    }
}

.navigation.active{
    max-width: 400px;
    width: 90%;
}

.navigation .toggleMenu{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navigation.active .toggleMenu{
    background-color: #000;
    transition-delay: 0s;
    transform: translateY(45px);
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
}

.navigation .toggleMenu::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    border-radius: 3px;
    background: var(--main-color);
    transform: translateY(-5px);
    transition: 0.5s;
    transition-delay: 0.3s;
}

.navigation .toggleMenu::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    border-radius: 3px;
    background: var(--main-color);
    transform: translateY(5px);
    transition: 0.5s;
    transition-delay: 0.3s;
}

.navigation.active .toggleMenu::before{
    transition-delay: 0s;
    background: var(--main-color);
    transform: translateY(0) rotate(45deg) scale(0.6);
}

.navigation.active .toggleMenu::after{
    transition-delay: 0s;
    background: var(--main-color);
    transform: translateY(0) rotate(315deg) scale(0.6);
}

.navigation li {
    list-style: none;
    transition: 0.5s;
    transform: scale(0);
}

.navigation.active li {
    transition-delay: 0.75s;
    display: flex;
    transform: scale(1);

}

.navigation li a{
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    vertical-align: middle;
    line-height: 0;
    letter-spacing: 0.12em;
    padding: 15px 8px 10px 10px;
    border-radius: 20px;
    transition: 0.5s;
}

.navigation li a:hover{
    background: var(--main-color);
    color: #000;
}
