@import url('https://fonts.cdnfonts.com/css/space-age');
@import url('https://fonts.cdnfonts.com/css/microextendflf');
@import url('https://fonts.cdnfonts.com/css/quark');

:root {
    --main-color: #16dcff;
    --secundary-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 1080px){
    html{
        font-size: 92%;
    } 
}

@media (max-width: 720px){
    html{
        font-size: 84%;
    } 
}

input, textarea, select, button, a {
    font: 400 1rem sans-serif;    
}

h2, h3, h4, h5, h6, p, a, span {
    /* font-family: 'MicroExtendFLF', sans-serif; */
    font-family: 'Quark', sans-serif;
    font-size: 125%;
}


button {
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
}